@inherits LayoutComponentBase

<header id="header">
    <div id="top-header">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">UNIVERSIDAD DE COSTA RICA</div>
                <div class="col text-end">
                    LanammeUCR
                    <span class="ms-2 small">Laboratorio Nacional de Materiales y Modelos Estructurales</span>
                </div>
            </div>
        </div>
    </div>
    <div id="bottom-header">
        <div class="container-fluid">
            <h2 class="m-0">Sistema de Gestión de Asistentes</h2>
        </div>
    </div>
</header>


   




<!-- Contenido dinámico -->
<main class="container my-4">
    @Body
</main>

<!-- Pie de página -->
<footer class="footer">
    2024 Laboratorio Nacional de Materiales y Modelos Estructurales
</footer>

