html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #005da4;
    color: white;
}

#top-header {
    padding: 10px 0;
}

#bottom-header {
    background-color: #6c757d;
    padding: 10px 0;
}

    #bottom-header h2 {
        font-size: 1.5rem;
        text-align: center;
    }

.content {
    min-height: calc(100vh - 50px - 100px); /* Ajustado para el nuevo header */
    padding-bottom: 50px;
}

.footer {
    background-color: dimgrey;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
}

#navbar {
    background-color: #eaeaea;
    lighting-color: #989d96;
}

#boton-salir {
}

thead {
    background-color: #005da4;
    color: white;
}

#ModalsConfirmacion {
    display: block; /* Asegúrate de que el modal esté visible */
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con opacidad */
    border-radius: 0.5rem; /* Bordes redondeados */
}

    #ModalsConfirmacion .modal-dialog {
        max-width: 500px; /* Ancho máximo del modal */
        margin: auto; /* Centra el modal */
    }

    #ModalsConfirmacion .modal-content {
        border: none; /* Sin borde en el contenido del modal */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para dar profundidad */
    }

    #ModalsConfirmacion .modal-header {
        border-bottom: 1px solid #e9ecef; /* Línea inferior en el encabezado */
        background-color: #f8f9fa; /* Fondo del encabezado */
    }

    #ModalsConfirmacion .modal-footer {
        border-top: 1px solid #e9ecef; /* Línea superior en el pie del modal */
    }
