html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #005da4;
    color: white;
}


#top-header {
    padding: 10px 0;
}

#bottom-header {
    background-color: #6c757d;
    padding: 10px 0;
}

    #bottom-header h2 {
        font-size: 1.5rem;
        text-align: center;
    }

.content {
    min-height: calc(100vh - 50px - 100px); /* Ajustado para el nuevo header */
    padding-bottom: 50px;
}

.footer {
    background-color: dimgrey;
    height: 50px;
    line-height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    margin-top:4em;
}

.container {
    max-width: 500px;
    margin-bottom: 2em;
    margin-top: -3em;
}

.card {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-top: 2px;
    background-color: #ffffff;
    margin-bottom: 1.5em;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
    /*color: #333333;*/
}

.form-control-sm,
.form-select-sm {
    padding: 6px;
    font-size: 0.85rem;
}

.form-floating label {
    font-size: 0.75rem;
    color: #666666;
}

.form-floating input:focus + label,
.form-floating select:focus + label,
.form-floating textarea:focus + label {
    transform: scale(0.85) translateY(-140%);
    color: #007bff;
}

button.btn-sm {
    font-size: 0.85rem;
    padding: 6px;
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .form-floating {
        margin-bottom: 3rem;
    }
}

button[type="submit"] {
    background-color: #0056b3;
    max-width: 150px;
}

.btn-primary {
    background-color: #005da4;
}

#navbar {
    background-color: #eaeaea;
    lighting-color: #989d96;
}

#boton-salir {
    color:white;
}

thead {
    background-color: #005da4;
    color: white;
}

.custom-modal {
    background-color: #fefefe /* Color de fondo suave */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 5px 50px rgba(0, 0, 0, 0.2); /* Sombra */
    border: 1px solid #ddd; /* Borde gris suave */
}

.modal-header {
    border-bottom: 1px solid #ddd; /* Borde inferior del encabezado */
    background-color: #005da4;
    color: white;
}

.modal-footer {
    border-top: 1px solid #ddd; /* Borde superior del pie */
}

.modal-body {
    padding: 15px; /* Padding para el contenido del cuerpo */
}



.close {
    background-color: #005da4;
    color: white;
    border-color: #005da4;
}

    .close:hover {
        color: #000; /* Color al pasar el mouse */
    }

.custom-margin {
    padding-bottom: 5em;
    background-color: red;
}
