@page "/ayuda"
@using GestionAsistente.BlazorUI.Components.Layout
@layout LayoutPrincipal

<h1>Vista de ayuda</h1>
<p>En esta vista se muestra la ayuda del sistema</p>
<p>Para mas informacion cont</p>