@page "/crear-usuarios"
@using GestionAsistente.BlazorUI.Components.Layout
@using GestionAsistente.BlazorUI.Controlador
@using GestionAsistente.BlazorUI.Data
@using GestionAsistente.Entidades
@using Microsoft.AspNetCore.Identity
@using System.ComponentModel.DataAnnotations

@inject UserManager<ApplicationUser> UserManager
@inject IUserStore<ApplicationUser> UserStore
@layout LayoutPrincipal
@rendermode InteractiveServer

<PageTitle>Registro</PageTitle>

<h3 style="text-align: center;">Registro usuario</h3>

<div class="row justify-content-center">
    <div class="col-md-4">
    @*     <StatusMessage Message="@Mensaje" /> *@
        <EditForm Model="Input" method="post" OnValidSubmit="RegistrarUsuario" FormName="registro">
            <DataAnnotationsValidator />
            <hr />
            @* <ValidationSummary class="text-danger" role="alert" /> *@
            <div class="form-floating mb-3">
                <InputText @bind-Value="Input.NombreUsuario" class="form-control" autocomplete="username" aria-required="true" placeholder="nombre@ejemplo.com" />
                <label for="nombreusuario">Nombre de usuario</label>
                <ValidationMessage For="() => Input.NombreUsuario" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.Contrasenna" class="form-control" autocomplete="new-password" aria-required="true" placeholder="contraseña" />
                <label for="contraseña">Contraseña</label>
                <ValidationMessage For="() => Input.Contrasenna" class="text-danger" />
            </div>
            <div class="form-floating mb-3">
                <InputText type="password" @bind-Value="Input.ConfirmarContrasenna" class="form-control" autocomplete="new-password" aria-required="true" placeholder="confirmar contraseña" />
                <label for="confirmar-contraseña">Confirmar Contraseña</label>
                <ValidationMessage For="() => Input.ConfirmarContrasenna" class="text-danger" />
            </div>

            <button type="submit" class="w-100 btn btn-lg btn-primary">Registrar</button>
        </EditForm>
    </div>
</div>

@code {
    private IEnumerable<IdentityError>? erroresIdentidad;

    [SupplyParameterFromForm]
    private ModeloEntrada Input { get; set; } = new ModeloEntrada();

    private string? Mensaje => erroresIdentidad is null ? null : $"Error: {string.Join(", ", erroresIdentidad.Select(error => error.Description))}";

    public async Task RegistrarUsuario(EditContext editContext)
    {
        var usuario = new ApplicationUser();

        await UserStore.SetUserNameAsync(usuario, Input.NombreUsuario, CancellationToken.None);

        var emailStore = ObtenerEmailStore();

        await emailStore.SetEmailConfirmedAsync(usuario, true, CancellationToken.None);

        var resultado = await UserManager.CreateAsync(usuario, Input.Contrasenna);

        if (!resultado.Succeeded)
        {
            erroresIdentidad = resultado.Errors;
            Console.WriteLine("Nombre de usuario ya existe");
            return;
        }

        if (resultado.Succeeded)
        {
            LimpiarFormulario();
            Console.WriteLine("Se insertó correctamente");
        }
    }

    private IUserEmailStore<ApplicationUser> ObtenerEmailStore()
    {
        if (!UserManager.SupportsUserEmail)
        {
            throw new NotSupportedException("La interfaz de usuario predeterminada requiere una tienda de usuarios con soporte de correo electrónico.");
        }
        return (IUserEmailStore<ApplicationUser>)UserStore;
    }

    private void LimpiarFormulario()
    {
        Input.NombreUsuario = "";
        Input.Contrasenna = "";
        Input.ConfirmarContrasenna = "";
    }

    private sealed class ModeloEntrada
    {
        [Required]
        [Display(Name = "Nombre de usuario")]
        public string NombreUsuario { get; set; } = "";

        [Required]
        [StringLength(30, ErrorMessage = "La contraseña debe tener al menos 6 caracteres y 30 como máximo.", MinimumLength = 6)]
        [DataType(DataType.Password)]
        [Display(Name = "Contraseña")]
        public string Contrasenna { get; set; } = "";

        [DataType(DataType.Password)]
        [Display(Name = "Confirmar contraseña")]
        [Compare("Contrasenna", ErrorMessage = "La confirmación de la contraseña no coincide.")]
        public string ConfirmarContrasenna { get; set; } = "";
    }
}