@page "/crear-usuarios"
@using GestionAsistente.BlazorUI.Components.Layout
@using GestionAsistente.BlazorUI.Controlador
@using GestionAsistente.Entidades
@layout LayoutPrincipal
@rendermode InteractiveServer

<h3>Crear Usuarios</h3>

<EditForm Model="crearUsuario" OnValidSubmit="RegistrarUsuario" FormName="crearUsuarioForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <InputText id="nombre" class="form-control" @bind-Value="crearUsuario.Persona.Nombre" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="primerApellido" class="form-label">Primer Apellido</label>
                <InputText id="primerApellido" class="form-control" @bind-Value="crearUsuario.Persona.PrimerApellido" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="segundoApellido" class="form-label">Segundo Apellido</label>
                <InputText id="segundoApellido" class="form-control" @bind-Value="crearUsuario.Persona.SegundoApellido" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="contrasenia" class="form-label">Contraseña</label>
                <InputText type="password" id="contrasenia" class="form-control" @bind-Value="crearUsuario.Contrasenia" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="unidadID" class="form-label">Unidad</label>
                <InputSelect id="unidadID" class="form-control" @bind-Value="crearUsuario.UnidadID">
                    @foreach (var unidad in listaUnidades)
                    {
                        <option value="@unidad.UnidadID">@unidad.Nombre</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="rolID" class="form-label">Rol</label>
                <InputSelect id="rolID" class="form-control" @bind-Value="crearUsuario.RolID">
                    @foreach (var rol in listaRoles)
                    {
                        <option value="@rol.RolID">@rol.Nombre</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-primary " data-bs-dismiss="modal">Registrar Usuario</button>
</EditForm>

@code {

    private UsuarioControlador usuarioControlador = new UsuarioControlador();
    private UnidadControlador unidadControlador = new UnidadControlador();
    private RolControlador rolControlador = new RolControlador();

    private List<Usuario> listaUsuarios = new List<Usuario>();
    private List<Unidad> listaUnidades = new List<Unidad>();
    private List<Rol> listaRoles = new List<Rol>();

    private Usuario usuario = new Usuario
        {
            Persona = new Persona()
        };
    private Usuario crearUsuario = new Usuario()
        {
            Persona = new Persona()
        };

    protected override async Task OnInitializedAsync()
    {
        listaUsuarios = await usuarioControlador.ListarUsuarios();
        listaUnidades = await unidadControlador.ListarUnidades();
        listaRoles = await rolControlador.ListarRoles();
    }

    private async Task RegistrarUsuario()
    {

        await usuarioControlador.RegistrarUsuario(crearUsuario);

        listaUsuarios = await usuarioControlador.ListarUsuarios();

        crearUsuario = new Usuario

            {

                Persona = new Persona()

            };

        StateHasChanged();

    }

}