@page "/"
@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "usuario, Administrador")]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>


<AuthorizeView Roles="usuario">
    Hola Hello @context.User.Identity?.Name!, eres Encargado
</AuthorizeView>
<AuthorizeView Roles="Administrador">
    Hola @context.User.Identity?.Name!, eres administrador
</AuthorizeView>
