<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.LayoutPrincipal)" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Layout.LayoutPrincipal)">
            <p class="text-center">Lo siento, no hay nada en esta dirección.</p>
        </LayoutView>
    </NotFound>
</Router>
