@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<header>
    <h1 class="text-danger">Accesso Denegado</h1>
    <p class="text-danger">No tienes acceso a esta función.</p>
</header>
