@page "/crear-asistente"
@using GestionAsistentes.BlazorUI.Components.Layout
@using GestionAsistentes.BlazorUI.Controlador
@using GestionAsistentes.Entidades

@layout LayoutPrincipal
@rendermode InteractiveServer
<div class="container mt-4">
    <h2 class="mb-4">Registro de Asistente</h2>
    <EditForm Model="asistente" OnValidSubmit="RegistrarAsistente" FormName="crearAsistenteForm">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="row g-2">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputText id="input" class="form-control" @bind-Value="asistente.nombreUsuario" placeholder="Usuario" />
                    <label for="usuario">Usuario</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputText id="input" class="form-control" @bind-Value="asistente.Persona.Nombre" placeholder="Nombre" />
                    <label for="nombre">Nombre</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputText id="input" class="form-control" @bind-Value="asistente.Persona.PrimerApellido" placeholder="Primer Apellido" />
                    <label for="primer-apellido">Primer Apellido</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputText id="input" class="form-control" @bind-Value="asistente.Persona.SegundoApellido" placeholder="Segundo Apellido" />
                    <label for="segundo-apellido">Segundo Apellido</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputSelect class="form-select" id="unidad" aria-label="Seleccione la unidad" @bind-Value="asistente.UnidadID">
                        @foreach (var unidad in listaUnidades)
                        {
                            
                            <option value="@unidad.UnidadID">@unidad.Nombre</option>
                        }
                    </InputSelect>
                    <label for="unidad">Unidad</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputTextArea id="input" class="form-control" @bind-Value="asistente.Accesos" placeholder="Accesos" style="height: 100px" />
                    <label for="accesos">Accesos</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputSelect class="form-control" id="encargado" aria-label="Seleccione el encargado" @bind-Value="asistente.EncargadoID">
                        @foreach(var encargados in listaEncargados)
                        {
                            <option value="0">Seleccione un encargado.</option>
                            <option value="@encargados.EncargadoID">
                                @($"{encargados.Persona.Nombre} {encargados.Persona.PrimerApellido} {encargados.Persona.SegundoApellido}")
                            </option>
                        }
                    </InputSelect>
                    <label for="encargado">Encargado</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputText id="input" class="form-control" @bind-Value="asistente.Contrasenia" placeholder="Contraseña" />
                    <label for="contrasenia">Contraseña</label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <InputSelect id="BadgeID" class="form-control" @bind-Value="asistente.BadgeID" aria-label="Seleccione el badge">
                        <option selected>Seleccione el badge</option>
                        <option value="1">Badge 1</option>
                        <option value="2">Badge 2</option>
                        <option value="3">Badge 3</option>
                    </InputSelect>
                    <label for="badge">Badge</label>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 col-md-6 mx-auto mt-4">
            <button type="submit" class="btn btn-primary btn-lg">Registrar Asistente</button>
        </div>
    </EditForm>
</div>

@code {
    private AsistenteControlador asistenteControlador = new AsistenteControlador();
    private PersonaControlador personaControlador = new PersonaControlador();
    private UnidadControlador unidadControlador = new UnidadControlador();
    private EncargadoControlador encargadoControlador = new EncargadoControlador();
    List<Unidad> listaUnidades = new List<Unidad>();
    List<Encargado> listaEncargados = new List<Encargado>();
    Asistente asistente = new Asistente
        {
            Persona = new Persona()
        };


     
    protected override async Task OnInitializedAsync()
    {
        listaUnidades = await unidadControlador.ListarUnidades();
    }
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
            listaEncargados = await encargadoControlador.ListarEncargados();       
    }
    // private void LimpiarFormulario()
    // {
    //     // Restablece los valores del objeto asistente
    //     asistente = new Asistente
    //         {
    //             Persona = new Persona() // Restablecer el objeto Persona también
    //         };
    // }
    private async Task RegistrarAsistente()
    {
        bool exito = await asistenteControlador.RegistrarAsistente(asistente);

        // LimpiarFormulario();
        // StateHasChanged();
    }
}
