@page "/"
@using GestionAsistentes.BlazorUI.Components.Layout
@using GestionAsistentes.Entidades
@using GestionAsistentes.ReglasNegocio
@layout LayoutPrincipal

<div class="text-center my-5">
    <h1>Bienvenido al Sistema de Gestión de Asistentes</h1>
    <p>Este sistema te permitirá gestionar la información de los asistentes de manera eficiente.</p>

</div>




