@page "/mostrar-asistentes"
@using GestionAsistentes.BlazorUI.Components.Layout
@layout LayoutPrincipal

<div class="col-md-12 col-xs-12 col-sm-12" style="text-align: center; overflow-y: auto; top: 0px; left: 0px;">
    <div class="table-responsive col-md-12 col-xs-12 col-sm-12" style="text-align: center; overflow-y: auto;">
    <table class="table table-bordered">
        <thead style="text-align: center;">
            <tr style="text-align: center">
                <th>Usuario</th>
                <th>Nombre</th>
                <th>Contraseña</th>
                <th>Encargado</th>
                <th>Accesos</th>
                <th>Badge</th>
                <th>Unidad</th>
                <th>Horario</th>
            </tr>
        </thead>

        <tr>
            <td>Usuario</td>
            <td>Nombre</td>
            <td>Contraseña</td>
            <td>Encargado</td>
            <td>Accesos</td>
            <td>Badge</td>
            <td>Unidad</td>
            <td>Horario</td>
        </tr>

</table>
</div>
</div>